<div class="message-content">
    <h1>Roll To Do</h1>
    <div class="attributeRolls">
        <div class="colorblock-wide" style="background-color: {{swing.color}};">
            <div>{{d20Roll}}</div>
        </div>
        <div class="colorblock-small inMessage {{#if swing.isSwing}}block-swing{{/if}}" title="{{swing.displayName}}" style="background-color: {{attColor}};">
            <div>{{swing.value}}</div>
        </div>
        {{#if attributeBonusesPresent}}<div class="colorattribute" style="color:{{swing.color}}">+{{swing.attributeBonus}}</div>{{/if}}
        {{#if bonuses.roll.total}}<div class="colorattribute" title="{{bonuses.roll.result}}" style="color:grey">{{bonuses.string}}</div>{{/if}}
    </div>
    <div class="rolltotal">{{total}}</div>
</div>