<div class="message-content">
    <h1>Roll To Dye</h1>
    <div class="attributeRolls">
    {{#each colors.rolls as |color key|}}
    <a class="btn-selectSwing" data-owner-id="{{../ownerID}}" data-token-id="{{../tokenID}}" data-item-id="{{color.attribute.id}}" data-rollval="{{color.value}}" data-rolltotal="{{../total}}">
        <div class="colorblock-small inMessage {{#if color.attribute.system.isSwing}}block-swing{{/if}}" title="{{color.attribute.system.displayName}} [{{color.attribute.system.value}}]" style="background-color: {{color.attribute.system.hexColor}};">
            <div>{{color.value}}</div>
        </div>
    </a>
    {{/each}}
    {{#each colors.locks as |color key|}}
    <div class="colorblock-small inMessage" title="{{color.system.displayName}} [L]" style="background-color: {{color.system.hexColor}};">
        <div>L</div>
    </div>
    {{/each}}
    {{#each colors.wounds as |color key|}}
    <div class="colorblock-small inMessage" title="{{color.system.displayName}}" style="background-color: {{color.system.hexColor}};">
        <div>W</div>
    </div>
    {{/each}}
    {{#if bonuses.roll.total}}<div class="colorattribute" title="{{bonuses.roll.result}}" style="color:grey">{{bonuses.string}}</div>{{/if}}
    </div>
    <div class="rolltotal">{{total}}</div>
    <div class="smalltext">Click a color to set or change your swing.</div>
    {{#if unlockedADie}}<div class="smalltext">Locked dice have been unlocked</div>{{/if}}
</div>